.board-detail-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.board-info-container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  .board-info-buttons {
    width: 700px;
    height: 40px;
    padding: 5px 10px;
    display: flex;
    .create-pin-button,
    .board-upload-icon,
    .edit-board-modal-container,
    .board-ellipsis-icon {
      height: 40px;
      width: 40px;
      padding: 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: $gray;
      }
      &:hover {
        background-color: $light-gray;
        cursor: pointer;
      }
    }
  }
  .board-info {
    width: 750px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .board-title {
      width: auto;
      font-size: 44px;
      font-weight: 700;
    }
    .board-pin-count{
      color: $gray;
      font-size: 16px;
    }
    .board-info-description {
      padding: 10px 0 0 2px;
    }
    .profile-pic {
      i {
        font-size: 75px;
        color: $light-blue;
      }
    }
  }
}