$input-width: 275px;

input[class^="board-input"] {
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: $input-width;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
  }
}

.board-input-error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
}

.board-submit {
  width: $input-width;
  height: 50px;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    opacity: 0.8
  }
}

.board-error {
  font-size: 12px;
  width: $input-width;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  color: red;
}

.board-error-none {
  width: 0px;
  height: 0px;
  display: none;
}
