// Inspired by Rahul Arora http://w3bits.com/css-masonry/
.webpage {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 11;
}

.masonry {
  position: absolute;
  top: 64px;
  margin: 1.5em auto 1.5em auto;
  padding: 0 20px;
  column-gap: 1em;
  box-sizing: border-box;
  div {
    box-sizing: inherit;
  }
  .pin {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 1em;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    &:hover {
      background-color: $lighter-gray;
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
      cursor: -moz-zoom-in;
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
      img {
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
        opacity: 0.7;
      }
      .create-pinning-button-small {
        display: block;
        opacity: 1;
      }
    }
    img {
      border-radius: 10px;
      opacity: 1;
      transition: .8s opacity;
    }
  }
  .create-pinning-button-small {
    padding: 10px 14px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;

    background-color: $light-blue;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;

    i {
      font-size: 16px;
      color: white;
      padding-right: 7px;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .masonry {
    column-count: 5;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .masonry {
    column-count: 4;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  .masonry {
    column-count: 3;
  }
}

@media only screen and (max-width: 799px) and (min-width: 600px) {
  .masonry {
    column-count: 2;
  }
}