.modal-background {
  position: fixed;
  background: image-url('santorini.jpg');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: 100s scroll infinite linear;
  animation: 100s scroll infinite linear;
}

@-webkit-keyframes scroll {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-300px);
  }
}

@keyframes scroll {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-300px);
  }
}

.session-form-container {
  width: 400px;
  margin: 100px auto;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: HelveticaNeue;
  text-align: center;
  font-size: 16px;
}

.session-form-container img {
  padding-top: 10px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.session-form-container > h3 {
  margin: 10px auto;
  font-size: 24px;
}

.session-form-container > h4 {
  margin: 0px auto 20px auto;
  color: #8e8e8e;
}

.session-form-container input[type='text'],
input[type='password'] {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: 275px;
}

.session-submit,
.demo-login {
  width: 275px;
  height: 50px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #00a6ff;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.session-submit:hover,
.demo-login:hover,
.other-form:hover {
  opacity: 0.8;
}

.demo-login {
  margin-bottom: 15px;
}

.other-form {
  text-align: center;
  cursor: pointer;
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.session-errors {
  list-style: none;
  padding: 0;
}
