$input-width: 275px;

.signup-modal-background {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    image_url('santorini.jpg');
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  -webkit-animation: scroll 15s infinite linear alternate;
  animation: scroll 15s infinite linear alternate;
  transition: 2.5s;
}

// Inspired by https://codepen.io/ScottMarshall/pen/vAtgB

@-webkit-keyframes scroll {
  from {
    background-position: 0px;
  } to {
    background-position: -300px;
  }
}

@keyframes scroll {
  from {
    background-position: 0px;
  } to {
    background-position: -300px;
  }
}

// $input-width: 275px;

// .signup-modal-background {
//   position: fixed;
//   background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
//     image-url('santorini.jpg');
//   // https://pixabay.com/en/oia-santorini-village-greece-416136/
//   background-size: 150% auto;
//   background-repeat: repeat-y;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   -webkit-animation: 100s scroll infinite linear;
//   animation: 100s scroll infinite linear;
// }

// // Inspired by https://codepen.io/ScottMarshall/pen/vAtgB

// @-webkit-keyframes scroll {
//   100% {
//     background-position: 0px -1000px;
//   }
// }

// @keyframes scroll {
//   100% {
//     background-position: 0px -1000px;
//   }
// }


.session-form-container {
  width: 400px;
  margin: auto;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  img {
    padding-top: 10px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  h3 {
    margin: 10px auto;
    font-size: 28px;
  }
  h4 {
    margin: 0px auto 20px auto;
    color: #8e8e8e;
  }
}

input[class^="session-input"],
textarea {
  border-radius: 5px;
  border: 1px solid $gray;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: $input-width;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
  }
}

.session-input-error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
}

.session-submit,
.demo-login {
  width: $input-width;
  height: 50px;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.demo-login {
  margin: 15px 0px;
}

.other-form {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: $light-gray;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.session-submit:hover,
.demo-login:hover,
.other-form:hover,
.create-pinning-button:hover {
  box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2);
}

.session-error {
  font-size: 12px;
  width: $input-width;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  color: red;
}

.session-error-none {
  width: 0px;
  height: 0px;
  display: none;
}

.board-modal-background,
.pin-modal-background,
.pinning-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.board-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

  background-color: white;
  border-radius: 10px;
  font-size: 16px;

  .board-form-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    h5 {
      margin: 0;
      padding: 10px;
      font-size: 24px;
      vertical-align: center;
    }
    i {
      font-size: 30px;
      padding: 10px;
      color: $gray;
    }
  }
}

.board-form-container,
.board-form,
.create-board-form-footer,
.edit-board-form-footer {
  width: 600px;
}

.board-form {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  span {
    border-top: 1px solid $light-gray;
    width: 100%;
    padding: 16px 16px 6px 16px;
    .input-label {
      width: 115px;
      text-align: left;
      vertical-align: middle;
      padding: 0 10px;
      margin: 0;
    }
    textarea {
      resize: none;
    }
    input, textarea {
      margin: 10px;
      width: 528px;
    }
  }

  .create-board-form-footer,
  .edit-board-form-footer {
    border-top: 1px solid $light-gray;
    padding: 16px;
    button, input {
      padding: 10px 14px;
      margin: 0px 10px;
      width: auto;
      height: auto;
      border-radius: 10px;
      font-weight: 700;
    }
    .cancel-form, .board-delete-button {
      background-color: $light-gray;
      color: black;
      &:hover {
        box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2);
      }
    }
  }
}

.create-board-form-footer {
  display: flex;
  justify-content: flex-end;
}

.edit-board-form-footer {
  display: flex;
  justify-content: space-between;
}

input[class^="board-input"] {
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: $input-width;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
  }
}

.board-input-error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
}

.board-submit {
  height: 50px;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  font-weight: 700;
}

.board-error {
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 0 30px 10px 30px;
  text-align: left;
  color: red;
}

.board-error-none {
  width: 0px;
  height: 0px;
  display: none;
}

.pin-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 6;
}

.pin-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 7;

  background-color: white;
  border-radius: 10px;
  font-size: 16px;

  .pin-form-header {
    padding: 25px 15px 25px 15px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    position: relative;
    i {
      position: absolute;
      top: 13px;
      right: 10px;
      font-size: 30px;
      padding: 10px;
      color: $gray;
    }
  }
}

.pin-form-container,
.pin-form,
.pin-form-footer {
  width: 800px;
}

.pin-form {
  border-top: 1px solid $light-gray;
  height: 550px;
  display: flex;
  flex-flow: row wrap;
  div {
    box-sizing: border-box;
  }
  .pin-image-container {
    width: 350px;
    height: 450px;
    padding: 75px 0px 0px 50px;
    img {
      max-height: 95%;
      max-width: 95%;
    }
  }
  .pin-form-inputs {
    width: 400px;
    height: 450px;
    padding: 20px;
    span {
      // width: 100%;
      padding: 16px 16px 0 16px;
      .input-label {
        // width: 115px;
        text-align: left;
        vertical-align: middle;
        padding: 0 10px;
        margin: 0;
      }
      textarea {
        resize: none;
        height: 150px;
      }
      input, textarea {
        margin: 10px;
        width: 100%;
      }
    }
  }
  .pin-form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $light-gray;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    .pin-submit {
      width: auto;
      height: auto;
      font-weight: 700;
      border-radius: 5px;
    }
  }
}

input[class^="pin-input"] {
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: $input-width;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
  }
}

.pin-input-error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
}

.pin-error {
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 0 15px 10px 15px;
  text-align: left;
  color: red;
}

.pin-error-none {
  width: 0px;
  height: 0px;
  display: none;
}

.board-submit,
.pin-submit {
  padding: 10px 14px 10px 14px;
  background-color: $light-blue;
  color: white;
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2);
  }
  &:disabled {
    background-color: $light-gray;
    color: $gray;
    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}


.edit-pin-form-footer {
  width: 800px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $lighter-gray;
  button, input {
    padding: 10px 14px;
    margin: 0px 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-weight: 700;
  }
  .cancel-form, .pin-delete-button {
    background-color: $light-gray;
    color: black;
    &:hover {
      box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2);
    }
  }
}

.pin-delete-button {
  &:disabled {
    background-color: $light-gray;
    color: $gray;
    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

.create-pinning-button {
  padding: 10px 14px;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  i {
    font-size: 18px;
    color: white;
    padding-right: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}

.create-pinning-container {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 6;

  background-color: white;
  border-radius: 10px;
  font-size: 16px;

  .create-pinning-header {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px 25px 15px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    position: relative;
    i {
      position: absolute;
      top: 13px;
      right: 10px;
      font-size: 30px;
      padding: 10px;
      color: $gray;
    }
  }
}

.create-pinning-body {
  width: 800px;
  border-top: 1px solid $light-gray;
  height: 550px;
  display: flex;
  .pinning-image-container {
    width: 400px;
    height: 550px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 95%;
      max-width: 95%;
    }
  }
  .pinning-board-list {
    width: 400px;
    border-left: 1px solid $light-gray;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      height: 50px;
      .create-pinning-text {
        vertical-align: middle;
        font-weight: 700;
        width: 200px;
      }
      border-right: 1px solid $light-gray;
      &:last-of-type {
        border-bottom: 1px solid $lighter-gray;
      }
      &:hover {
        background-color: $light-gray;
        cursor: pointer;
      }
      .create-pinning-button {
        display: none;
      }
      &:hover .create-pinning-button {
        display: block;
      }
    }
  }
}