$input-width: 275px;

.signup-modal-background {
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    image-url('santorini.jpg');
  // https://pixabay.com/en/oia-santorini-village-greece-416136/
  background-size: 100% auto;
  background-repeat: repeat-y;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-animation: 100s scroll infinite linear;
  animation: 100s scroll infinite linear;
}

// Inspired by https://codepen.io/ScottMarshall/pen/vAtgB

@-webkit-keyframes scroll {
  100% {
    background-position: 0px -1000px;
  }
}

@keyframes scroll {
  100% {
    background-position: 0px -1000px;
  }
}

.session-form-container {
  width: 400px;
  margin: auto;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: HelveticaNeue;
  text-align: center;
  font-size: 16px;
  img {
    padding-top: 10px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  h3 {
    margin: 10px auto;
    font-size: 28px;
  }
  h4 {
    margin: 0px auto 20px auto;
    color: #8e8e8e;
  }
}

input[class^="session-input"],
textarea {
  border-radius: 5px;
  border: 1px solid $gray;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: $input-width;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
  }
}

.session-input-error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
}

.session-submit,
.demo-login {
  width: $input-width;
  height: 50px;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.demo-login {
  margin: 15px 0px;
}

.other-form {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: $light-gray;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.session-submit:hover,
.demo-login:hover,
.other-form:hover {
  opacity: 0.8;
}

.session-error {
  font-size: 12px;
  width: $input-width;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  color: red;
}

.session-error-none {
  width: 0px;
  height: 0px;
  display: none;
}

.board-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.board-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

  background-color: white;
  border-radius: 10px;
  font-family: HelveticaNeue;
  font-size: 16px;

  .board-form-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    h5 {
      margin: 0;
      padding: 10px;
      font-size: 20px;
    }
    i {
      font-size: 20px;
      padding: 10px;
    }
  }
}

.board-form-container,
.board-form,
.board-form-footer {
  width: 600px;
}

.board-form {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  span {
    border-top: 1px solid $light-gray;
    width: 100%;
    padding: 16px 16px 0 16px;
    .input-label {
      width: 115px;
      text-align: left;
      vertical-align: middle;
      padding: 0 10px;
      margin: 0;
    }
    textarea {
      resize: none;
    }
    input, textarea {
      margin: 10px;
      width: 528px;
    }
  }
  .board-form-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $light-gray;
    padding: 16px;
    button, input {
      padding: 10px;
      margin: 0px 10px;
      width: auto;
      height: auto;
      border-radius: 10px;
      font-weight: 700;
    }
    .cancel-form {
      background-color: $light-gray;
      color: black;
    }
    .board-submit {
      background-color: $light-blue;
      color: white;
    }
  }
}

input[class^="board-input"] {
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: $input-width;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
  }
}

.board-input-error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
}

.board-submit {
  width: $input-width;
  height: 50px;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    opacity: 0.8
  }
}

.board-error {
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 0 30px 10px 30px;
  text-align: left;
  color: red;
}

.board-error-none {
  width: 0px;
  height: 0px;
  display: none;
}
