.nav-bar {
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 64px;
  box-sizing: border-box;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border-bottom: 1px solid $light-gray;
  color: $gray;
  font-size: 18px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $gray;
  }
}

.left-nav {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  img {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
  &:hover {
    background-color: $light-gray;
  }
}

.nav-home a {
  color: black;
}

.right-nav {
  margin-right: 10px;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      padding: 10px;
      border-radius: 25px;
      cursor: pointer;
      &:hover {
        background-color: $light-gray;
      }
    }
  }
}

.github-link i {
  font-size: 30px;
}

.logout {
  color: #8e8e8e;
  background-color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.logout-container:hover .logout {
  background-color: $light-gray;
}
