$pin-detail-width: 600px;

.pin-info-buttons,
.pin-body,
.pin-info {
  width: $pin-detail-width;
  box-sizing: border-box;
}

.pin-info-buttons {
  padding: 10px 12px 0 7px;
  display: flex;
  justify-content: space-between;
}

.pin-body {
  padding: 10px;
}

.pin-detail-background {
  display: block;
  overflow: auto;
  min-height: 100%;
  background: $lighter-gray;
  z-index: 5;
  &:hover {
    cursor: -moz-zoom-out; 
    cursor: -webkit-zoom-out; 
    cursor: zoom-out;
  }
  .pin-detail-back-button {
    width: 80px;
    height: 45px;
    padding: 4px;
    border-radius: 20px;
    z-index: 8;

    position: fixed;
    top: 15px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 26px;
      color: black;
      padding-right: 10px;
    }
    &:hover {
      background-color: $light-gray;
    }
  }
  .pin-info-container {
    margin: 30px auto;
    padding: 10px;
    width: 600px;
    &:hover {
      cursor: auto
    }

    background-color: white;
    border-radius: 10px;
    font-family: HelveticaNeue;
    font-size: 16px;
    .pin-pic {
      padding-bottom: 10px;
      a {
        cursor: pointer;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }
    .pin-info {
      display: flex;
      flex-flow: column;
      width: 100%;
      padding: 10px 5px 10px 5px;
      font-size: 20px;
      vertical-align: middle;
      .pin-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pin-owner-name {
          padding-bottom: 5px;
          font-weight: bold;
          font-size: 20px;
        }
        .pin-url {
          background-color: $light-gray;
          border-radius: 5px;
          padding: 10px 20px 10px 20px;
          font-weight: 700;
          i {
            font-size: 16px;
            padding-right: 10px;
          }
        }
      }
      .pin-description {
        padding: 10px 0;
        font-size: 16px;
      }
    }
  }
}

.pin-detail-edit-container {
  height: 40px;
  width: 40px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray;
  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }
}
