.profile-container {
  margin-top: 75px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  vertical-align: center;

}

.user-info-container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  .user-info {
    width: 450px;
    height: 120px;
    padding: 5px 10px;
    font-size: 28px;
  }
  .profile-pic {
    img {
      height: 120px;
      width: auto;
      border-radius: 50%;
    }
  }
  
}

.profile-tabs-container {
  padding: 10px;
  display: flex;
  flex-flow: column;
  .tabs {
    width: 700px;
    margin: auto;
    display: flex;
    flex-flow: row;
    li {
      padding: 10px 15px;
      margin: 0;
      border-radius: 25px;
      color: $gray;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }
    .selected {
      background-color: $light-gray;
      color: black;
    }
  }
}

.profile-index-container {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  .board-modal-container,
  .board-index-item {
    width: 290px;
    height: 290px;
    padding: 15px;
    border-radius: 10px;
    &:hover {
      background-color: $light-gray;
      cursor: pointer;
      .board-thumbnail {
        background-color: $gray
      }
    }
    .board-thumbnail {
      width: 280px;
      height: 200px;
      position: relative;
      margin: 0;
      border-radius: 5px;
      background-color: $light-gray;
      text-align: center;
      .board-create-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        i {
          font-size: 40px;
          color: $light-blue;
        }
      }
    }
    .board-title-link {
      width: 280px;
      height: 45px;
      padding: 5px;
    }
  }
}
