.profile-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  vertical-align: middle;
}

.user-info-container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  .user-info {
    width: 450px;
    height: 120px;
    padding: 5px 10px;
    font-size: 28px;
  }
  .profile-pic {
    img {
      object-fit: cover;
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
    i {
      font-size: 75px;
      color: $light-blue;
    }
  }
}

.profile-tabs-container {
  padding: 10px;
  display: flex;
  flex-flow: column;
  .tabs {
    width: 700px;
    height: 40px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-flow: row;
    li {
      padding: 10px 15px;
      height: 20px;
      border-radius: 25px;
      color: $gray;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }
    .selected {
      background-color: $light-gray;
      color: black;
    }
  }
}

.profile-index-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px 20px 20px;
  .board-modal-container,
  .board-index-item {
    width: 310px;
    height: 270px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    &:hover {
      background-color: $lighter-gray;
      filter: brightness(95%);
      cursor: pointer;
      .board-thumbnail {
        background-color: $light-gray;
      }
    }
    .board-thumbnail {
      width: 280px;
      height: 200px;
      position: relative;
      border-radius: 5px;
      background-color: $lighter-gray;
      text-align: center;
      display: flex;
      justify-content: center;
      .board-create-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        i {
          font-size: 40px;
          color: $light-blue;
        }
      }
      img {
        object-fit: cover;
        width: 280px;
        height: 200px;
        border-radius: 5px;
      }
    }
    .board-title-link {
      width: 280px;
      height: 45px;
      padding: 5px;
    }
  }
}

.pins-container {
  display: flex;
  justify-content: space-evenly
}
.pin-modal-container {
  width: 230px;
  height: 270px;
  padding: 12px 12px 28px 12px;
  border-radius: 10px;
  &:hover {
    background-color: $lighter-gray;
    cursor: pointer;
    .pin-modal-thumbnail {
      background-color: $light-gray;
    }
  }
  .pin-modal-thumbnail {
    width: 230px;
    height: 230px;
    position: relative;
    margin: 0;
    border-radius: 5px;
    background-color: $lighter-gray;
    text-align: center;
    .pin-create-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      i {
        font-size: 40px;
        color: $light-blue;
      }
    }
  }
  .pin-title-link {
    padding: 5px;
  }
}

.board-pins-title {
  width: 700px;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.pins-container {
  position: relative
}

.masonry-board {
  position: absolute;
  top: 220px;
}

.masonry-board,
.masonry-pin {
  margin: 1.5em auto 1.5em auto;
  padding: 0 20px;
  column-gap: 1em;
  box-sizing: border-box;
  div {
    box-sizing: inherit;
  }
  .pin {
    position: relative;
    display: inline-block;
    margin: 0 0 0.8em;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    &:hover {
      background-color: $lighter-gray;
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
      cursor: -moz-zoom-in;
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
      img {
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
        opacity: 0.7;
      }
      .create-pinning-button-small {
        display: block;
        opacity: 1;
      }
    }
    img {
      border-radius: 10px;
      opacity: 1;
      transition: .8s opacity;
    }
  }
  .create-pinning-button-small {
    padding: 10px 14px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;

    background-color: $light-blue;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;

    i {
      font-size: 16px;
      color: white;
      padding-right: 7px;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }
  .pin-url-small {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;

    background-color: $lighter-gray;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 700;
    display: none;
    i {
      font-size: 12px;
      padding-right: 7px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.pin-item-description {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    color: $charcoal;
  }

.masonry-pin {
  margin: 0px;
}

@media only screen and (min-width: 1200px) {
  .masonry-board,
  .masonry-pin {
    column-count: 5;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .masonry-board,
  .masonry-pin {
    column-count: 4;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  .masonry-board,
  .masonry-pin {
    column-count: 3;
  }
}

@media only screen and (max-width: 799px) and (min-width: 600px) {
  .masonry-board,
  .masonry-pin {
    column-count: 2;
  }
}

.profile-form-container {
  margin: 0 auto;
  .profile-form-header {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
  }
  .profile-form {
    padding: 5px;
  }
  input[class^="profile-input"] {
    border-radius: 5px;
    border: 1px solid $gray;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    width: 250px;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    &:focus {
      box-shadow: 0 0 6px 2px rgba(81, 203, 238, 1);
    }
  }

  .profile-input-error {
    box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.7);
  }

  .profile-error {
    font-size: 12px;
    width: $input-width;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 10px;
    text-align: left;
    color: red;
  }

  .profile-error-none {
    width: 0px;
    height: 0px;
    display: none;
  }

  .profile-image-container {
    div {
      margin: 10px 0;
    }
    img {
      object-fit: cover;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      margin: 10px 0;
    }
  }
  .profile-submit {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: $light-blue;
    border-radius: 5px;
    padding: 10px;
    &:disabled {
      background-color: $light-gray;
      color: $gray;
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
}